#hasPetsDiv, #noPetsDiv,  .petsList {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}

button {
    background-color: lightblue;
    width: 200px;
    height: 100px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    border: none;
}