* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;


}


body {
    height: 100vh;
    padding: 15px;
    color: #fff;
}

.scene {
    width: 100%;
    height: 100%;
    background-color: #4695ea;
    border-radius: 4px;
    position: absolute;
    overflow: hidden;
}

.scene img {
    position: absolute;
}

.city {
    bottom: -8px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}



.plane {
    top: 50px;
    left: 100px;
    width: 30%;
    animation: plane-move 10s linear infinite forwards;
}

.cloud {
animation: cloud-move 5s linear infinite forwards;

}


.cloud1 {
    width: 20%;
    top: 0;
    left: 20px;
}


.cloud2 {
    width: 10%;
    top: 0;
    left: 50%;

}


.cloud3 {
    width: 20%;
    top: 0;
    right: 0;
}



.boat {
    width: 30%;
    bottom: 0;
    right: 30px;
    animation: boat-move 10s linear infinite forwards;
   
    }


    @keyframes cloud-move {
        to {
            transform:translateX(25px)
        }
    }


    @keyframes boat-move {
        to {
            transform: translateX(-30px);
        }
    }

    @keyframes plane-move {
        to {
            transform: translate(300px, -100px);
        }
    }