* {
    background-color: black;
}

.heading1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 500px;
    font-size: 100px;


}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;

}

/* Banner */

.banner {
    background-image: url(/images/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    margin: auto;
    flex-wrap: wrap;

}

.banner-text {
    color: white;
    font-size: 100px;
    background-color: transparent;
    text-align: center;

}


/* navigation bar */

.nav-container {
    background-color: black;
    height: 100px;
    color: white;

}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    list-style-type: none;


}

.nav-list a {
    text-decoration: none;
    text-align: center;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #FA805A;
}

/* text and images */
.container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 500px;
    flex-wrap: wrap;




}


.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;

    width: 100%;





}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin: 50px;


}

.text {
    display: flex;
    justify-content: center;
    color: white;
    height: 800px;
    align-items: center;
    text-align: left;
    padding: 50;
    width: 1800px;




}

.img {
    display: flex;
    justify-content: center;
    height: 800px;
    width: 1800px;
    align-items: center;
    padding: 50;




}




.text-right {

    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: left;
    width: 1800px;



}

/* testimonial */

.container-testimonial {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.first-testimonial {
    background-color: white;
    height: 500px;
    padding: 30px;
    margin: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.second-testimonial {
    background-color: white;
    height: 500px;
    padding: 30px;
    margin: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.third-testimonial {
    background-color: white;
    height: 500px;
    padding: 30px;
    margin: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.profile-img1 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.profile-img2 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.profile-img3 {
    height: 200px;
    width: 200px;
    border-radius: 50%;

}


.testimonial-text {
    background-color: transparent;
    text-align: center;

}

.name {
    background-color: transparent;
    text-align: center;
}