

 body {
    background-image: url(/images/track.jpg);
    background-repeat: no-repeat;
    background-position: static;
    background-size: 100%;
 
  
}  

.container {
width: 100%;
height: 100%;


}


.dino {
margin-top: 150px;
width: 56px;
height: 56px;
overflow: hidden;
animation: dinoIn 10s forwards infinite;

    
}

.dinochar {

    animation: moveDino 1s steps(3)  infinite;
}

.chickrun {
    
    margin-bottom: 12px;
    width: 100px;
    height: 20px;   
    animation: chickenRun 1s steps(3) infinite;    
    }


.chicken-run {
    
    width: 30px;
    overflow: hidden;
    animation: moveChicken 10s forwards infinite;
    
}

@keyframes moveDino {
    from {

        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    

}

}

@keyframes dinoIn {

    from {
        transform: translateX(-600px);
    }

    to {
        transform: translateX(500px);
    }
  
}




@keyframes chickenRun {
    from {

        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
}
}

@keyframes moveChicken {

    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(500px);
    }
}


